# Ai API Key
GROQ_API_KEY=gsk_xxxxxxxxx

# Twitter Credentials & Config
TWITTER_DRY_RUN=false
TWITTER_USERNAME=nazhGE
TWITTER_PASSWORD=Twitter2025*
TWITTER_EMAIL=nazhirco@gmail.com
X_SERVER_URL=https://api.red-pill.ai/v1
SLIPPAGE=1

# Localhost port
SERVER_PORT=3000

# Post interval in minutes
POST_INTERVAL_MIN=1
POST_INTERVAL_MAX=5
